.vs/Adam69Callouts/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/Adam69Callouts/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
.vs/Adam69Callouts/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
.vs/Adam69Callouts/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/Adam69Callouts/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
.vs/Adam69Callouts/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
.vs/Adam69Callouts/FileContentIndex/00e0d690-916e-4e40-840c-e3e4db5a19a3.vsidx
